.link {
  align-items: center;
  background: transparent;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 18px;
  text-decoration: none;
  position: relative;

  &.active {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    color: #070606;
  }
}
