/* Global variables */
:root {
  --orange: #ff5500;
  --orange-intense: #f25900;
  --blue: #4434ff;
  --blue-intense: #3d2ae4;
  --bright-red: red;
  --yandex-red: #fc3f1d;
  --apple-green: #3bb33b;
  --toxic-green: #03e952;
  --silver: #aaaaaa;
  --light-gray: #777777;
  --gray: #333333;
  --graphitic: #1f1f1f;
  --mine-shaft: #222222;
  --charcoal: #141414;
  --black: #000000;
  --white: #ffffff;
  --tundora: #444444;
}
